# Ganache GUI default: 127.0.0.1:7545 | ganache-cli default: 127.0.0.1:8545
GANACHE_RPC=http://127.0.0.1:7545

# Private key salah satu akun Ganache (TANPA prefix 0x boleh, dengan juga boleh)
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
